body {
  width: 100%;
  height: 200vh;
  background-image: url("v856-kul-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* container body */
.container {
  width: 80%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 70px;
  border: 5px solid whitesmoke;
  height: 100%;
}

/* bagian nama */
#nama h1 {
  font-family: "Qwigley", cursive;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20px;
}
/* navbar */
#navbar ul li {
  margin-right: 30px;
  padding-bottom: 6px;
  transition: 400ms;
  transition: all;
}
#navbar ul li a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  transition: 400ms;
  position: relative;
}

#navbar ul {
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  padding: 5px 0px 5px 0px;
}

/* bagian jumbotron */
#jumbotron .container {
  border: none;
  outline: none;
}
/* judul h1 */
#jumbotron h3 {
  text-transform: capitalize;
  font-family: "Qwigley", cursive;
  font-weight: bold;
  font-size: 40px;
  border-top: 0.5px solid rgb(170, 170, 170);
  padding-top: 30px;
}
/* gambar */
#jumbotron img {
  width: 450px;
  display: block;
  margin: 10px auto;
}
@media (max-width: 575.98px) {
  #jumbotron img {
    width: 220px;
    box-sizing: border-box;
  }
}
@media (min-width: 578px) and (max-width: 100px) {
  #jumbotron img {
    width: 300px;
  }
}
