body {
  width: 100%;
  height: 350vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/background2.jpg");
}
/* container body */
body .container {
  width: 90%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 70px;
  border: 5px solid rgb(134, 134, 134);
  height: 90%;
}

/* bagian nama */
#nama h1 {
  font-family: "Qwigley", cursive;
  font-size: 50px;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 30px;
}
/* navbar */

#navbar ul li a {
  margin-right: 30px;
  padding-bottom: 6px;
  transition: 400ms;
  transition: all;
  padding: 6px;
}
#navbar ul a:hover {
  border-bottom: 2px solid black;
  padding-bottom: 4px;
  transition: 500ms;
  position: relative;
  font-weight: bold;
}

#navbar ul {
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  padding: 5px 0px 5px 0px;
}

#navbar h1 {
  font-family: "Qwigley", cursive;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 10px 5px 5px 5px;
  position: absolute;
  top: 20px;
  font-size: 20px;
}

/* bagian jumbotron */
#jumbotron {
  margin-top: 100px;
}
#jumbotron .container {
  border: none;
  outline: none;
}
/* judul h1 */
#jumbotron h3 {
  text-transform: capitalize;
  font-family: "Qwigley", cursive;
  font-weight: bold;
  font-size: 40px;
  border-top: 0.5px solid rgb(170, 170, 170);
  padding-top: 35px;
  text-align: center;
}

#jumbotron p:last-child {
  border-bottom: 1px solid rgb(170, 170, 170);
  padding-bottom: 70px;
}

/* jumbotron yang ke 2 */
#jumbotron h5 {
  color: rgb(170, 170, 170);
  font-size: 18px;
  position: relative;
}
#jumbotron h5 span {
  position: relative;
  bottom: 10px;
}

#jumbotron .col-md-6 .textmargin p {
  position: relative;
  left: 50px;
  width: 270px;
}

#jumbotron i {
  background-color: black;
  color: white;
  margin-right: 10px;
  padding: 7px;
  font-size: 30px;
  border-radius: 300px;
  border: 1px solid white;
}
/* gambar */
#jumbotron img {
  width: 450px;
  display: block;
  margin: 10px auto;
}
/* bagian footer */
.footer h6 {
  text-align: center;
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  width: 300px;
  padding: 20px 0px 20px 0px;
  color: rgb(95, 95, 95);
}
.footer {
  margin: auto;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.footer i {
  color: rgb(15, 15, 15);
  margin-left: 9px;
  transition: all;
  transition-duration: 700ms;
  position: relative;
  top: 2px;
  font-size: 16px;
}
.footer i:hover {
  color: rgb(107, 107, 107);
  transition: 400ms;
}

/* responsive */
@media (max-width: 575.98px) {
  body {
    height: 355vh;
  }
  .collapse {
    position: relative;
    top: 30px;
    border: none;
    transition: 300ms;
    width: 100%;
    height: 45vh;
    box-sizing: border-box;
    text-align: center;
    color: black;
  }
  #navbar {
    margin-bottom: 180px;
  }
  #navbar ul li {
    content: "";
    border: none;
    margin-bottom: 12px;
    position: static;
    padding-bottom: 20px;
  }
  .container {
    width: 90%;
  }
  #jumbotron img {
    width: 300px;
    box-sizing: border-box;
    margin: auto;
  }
}
@media (min-width: 578px) and (max-width: 100px) {
  .container {
    width: 90%;
  }
  #jumbotron img {
    width: 300px;
  }
}
