.body {
  background-color: white;
  width: 100%;
  height: 100vh;
}
.container {
  position: relative;
}
/* navbar */

#navbar {
  margin-top: 2rem;
  height: 30px;
}
#nama h3 {
  position: absolute;
  color: rgb(0, 0, 0);
  margin-left: 30px;
  background-color: black;
  color: white;
  padding: 2px 5px 0px 5px;
  font-weight: bold;
  font-family: "Qwigley", cursive;
}

#navbar ul li {
  display: inline-block;
  margin-right: 22px;
  animation: all;
  animation-duration: 300ms;
  transition: all;
  transition-duration: 300ms;
}

#navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 18px;
}
#navbar ul li:hover {
  transition: 400ms;
  animation: all;
  animation-duration: 400ms;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}
/* akhir bagian nav */
/* bagian txt*/
#text {
  margin-left: 3rem;
  margin-top: 10rem;
  text-transform: capitalize;
}
#text h3 {
  font-weight: bold;
  font-size: 30px;
}
#text h1 {
  margin-top: -7px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 60px;
}
/* bagian input */
#text a {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  border: 2px solid rgb(100, 99, 99);
  border-radius: 40px;
  padding: 7px 30px;
  text-decoration: none;
  position: relative;
  top: 13px;
  transition: all;
  transition-duration: 500ms;
}
#text a:hover {
  background-color: rgba(245, 245, 220, 0);
  transition: 300ms;
  color: black;
  border: 2px solid black;
}
#foto img {
  width: 300px;
  position: relative;
  left: 120px;
  bottom: -50px;
}
/* footer  */
#footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  justify-content: center;
  background-color: black;
  align-items: center;
  color: white;
  text-transform: capitalize;
}
#footer p {
  justify-content: center;
  position: relative;
  top: 6px;
}
